.body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    border: darkred;
}

.columnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rightSide {
    background-color: rgb(245, 241, 241);
}

.leftSide {
    background-color: rgb(247, 239, 247);
}


