.body {
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    border: darkred;
}

.columnsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rightSide {
    background-color: pink;
}

.leftSide {
    background-color: purple;
}

.services {
    display: flex;
    gap: 42px;
   
}

.serviceItem{
    width: 300px;
    height: 100px;
    background-color: gray;
    border: 5px solid black;
    justify-content: space-between;
    
}
