.body {
  background: linear-gradient(to bottom right, #f0f4ff, #fff);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding-bottom: 3rem;
}

.hero-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.hero-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.text-side {
  flex: 1;
}

.hero-question {
  font-size: 2rem;
  font-family: 'Georgia', serif;
  color: #000;
  margin-bottom: 1rem;
  font-weight: 500gitg;
}

.hero-description {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.image-side {
  flex: 1;
  text-align: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-question {
    font-size: 1.75rem;
  }
}

