.div-fluid {
    border-radius: 5px;
    background-color: #f2e4ca;
    margin-top: -8px;

}
.top-right-container {
    margin-left: 200px;
    align-items: center;
    gap: 2rem;

}
.mx-auto text-center h1{
    font-size: 10vw;
}

.basic-nav-dropdown {
    margin-right: 10px;
}

.donate-btn a {
    text-decoration: none;
}

#donatebtn {
    margin-left: 40px;
    background-color: #c4971f;
    color: #000;
    height: 35px;
    width: 100px;
}
